.container {
    position: relative;
    margin-bottom: 20px;
    max-width: 100%; /* Ensures the container does not exceed the width of its parent */
}

.output_window {
    background-color: #001529;
    color: #dcdcdc;
    padding: 25px 30px 20px 20px;
    
    border-radius: 5px;
    font-family: Consolas, "Courier New", monospace;
    font-size: 15px;
    overflow-x: auto; /* Keeps horizontal scrolling as originally set */
    overflow-y: auto; /* Enables vertical scrolling */
    max-height: 300px; /* Maximum height before vertical scrolling is enabled */
    min-height: 150px; /* Maximum height before vertical scrolling is enabled */
    white-space: pre-wrap; /* Preserves whitespace and formatting */
    word-wrap: break-word; /* Prevents content overflow due to long unbroken text */
}

.copy_button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    font-size: 12px;
    cursor: pointer;
    border: none;
    background-color: rgb(51, 51, 51);
    color: white;
    border-radius: 5px;
    font-family: Consolas, "Courier New", monospace;
}
