.App {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
}

.menu {
  flex: 1;
  min-width: 0;
}

.content-page {
  padding: 0 48px;
}
.content {
  padding: 0px 24px;
  min-height: 280px;
}

.layout {
  padding: 24px 0px;
}


.footer {
  text-align: center; 
}


.text_editor{
  font-family: monospace;
  font-size: 17px;
  border: 1px solid black;
  border-radius: 5px;
  min-height: 450px;
}

.column_small {
  padding: 10px 0px 10px 20px;

}

